### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
schoolcount = school_data_complete["school_name"].unique()
schoolcount
dfschools = pd.DataFrame(schoolcount) 
dfschools
count_school_rows = dfschools.count()[0]
print('Total number of schools:',count_school_rows)

Total number of schools: 15

In [5]:
studentcount = school_data_complete["student_name"]
studentcount
dfstudents = pd.DataFrame(studentcount) 
dfstudents
count_student_rows = dfstudents.count()[0]
print(count_student_rows)
print('Total number of students:',count_student_rows)

39170
Total number of students: 39170

In [6]:
budgetsum = school_data["budget"]
budgetsum
dfbudget = pd.DataFrame(budgetsum) 
dfbudget
sumbudget = dfbudget.sum()[0]
print('Total budget:',sumbudget)
# total = df.loc[:, '11'].sum()
# # column_number = 3
# total = df.iloc[:, column_number-1:column_number].sum()
# print(total)
# total = df.school_data_complete['Budget'].sum()

Total budget: 24649428

In [7]:
math = school_data_complete["math_score"]
math
dfmath = pd.DataFrame(math)
dfmath
mathavg = dfmath.mean()[0]
print('The average math score is:',mathavg)

The average math score is: 78.98537145774827

In [8]:
reading = school_data_complete["reading_score"]
reading
dfreading = pd.DataFrame(reading)
dfreading 
readingavg = dfreading.mean()[0]
print('The average reading score is:',readingavg)

The average reading score is: 81.87784018381414

In [9]:
#Add index to school name
dfschool = school_data_complete.set_index("school_name")
dfschool.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [10]:
schoolcount = school_data_complete["school_name"].unique()
schoolcount
dfschools = pd.DataFrame(schoolcount) 
dfschools
count_school_rows = dfschools.count()[0]
print('Total number of schools:',count_school_rows)

Total number of schools: 15

In [11]:
mathcount = school_data_complete["math_score"]
mathcount
dfmath = pd.DataFrame(mathcount) 
dfmath
math_scores_count = dfmath.count()[0]
print('Total number of math scores is:',math_scores_count)

Total number of math scores is: 39170

In [83]:
mathscore = school_data_complete["math_score"]
# print(dfmath)

       math_score
0              79
1              61
2              60
3              58
4              84
...           ...
39165          90
39166          70
39167          84
39168          90
39169          75

[39170 rows x 1 columns]

In [87]:
combined = pd.DataFrame(mathscore, readingscore)
combined

               math_score
reading_score
66                     93
94                     61
90                     86
67                     60
97                     87
...                   ...
99                     63
95                     58
73                     94
99                     63
95                     58

[39170 rows x 1 columns]

In [159]:
# Count of math scores over 70
dfmath_above_70 = pd.DataFrame (mathscore[school_data_complete["math_score"] > 70])
math_above_70 = dfmath_above_70.count()[0]
# print(math_above_70)
math_above_70

28356

In [17]:
# % Passing Math (The percentage of students that passed math.)
percent_of_math_pass = float((math_above_70 / math_scores_count)*100)
# print(percent_of_math_pass)
percent_of_math_pass

72.39213683941792

In [18]:
readingcount = school_data_complete["reading_score"]
readingcount
dfreading = pd.DataFrame(readingcount) 
dfreading
reading_scores_count = dfreading.count()[0]
print('Total number of reading scores is:',reading_scores_count)

Total number of reading scores is: 39170

In [42]:
readingscore = school_data_complete["reading_score"]
readingscore.describe()

count    39170.00000
mean        81.87784
std         10.23958
min         63.00000
25%         73.00000
50%         82.00000
75%         91.00000
max         99.00000
Name: reading_score, dtype: float64

In [166]:
dfreading_above_70 = pd.DataFrame (readingscore[school_data_complete["reading_score"] >= 70])
reading_above_70 = dfreading_above_70.count()[0]
print(dfreading_above_70)

       reading_score
1                 94
2                 90
4                 97
5                 94
6                 82
...              ...
39165             99
39166             95
39167             73
39168             99
39169             95

[33610 rows x 1 columns]

In [41]:
# % Passing Reading (The percentage of students that passed reading.)
percent_of_reading_pass = float((reading_above_70 / reading_scores_count)*100)
readingscore.describe()

count    39170.00000
mean        81.87784
std         10.23958
min         63.00000
25%         73.00000
50%         82.00000
75%         91.00000
max         99.00000
Name: reading_score, dtype: float64

In [167]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
math_and_reading = school_data_complete[{"math_score", "reading_score"}]
bothover70 = math_and_reading[(math_and_reading["reading_score"] >= 70) & (math_and_reading["math_score"] >= 70)]
# tips[(tips["time"] == "Dinner") & (tips["tip"] > 5.00)]
bothover70count = bothover70.count()
bothover70count
# reading = school_data_complete["reading_score"]
# reading
# dfreading = pd.DataFrame(reading)
# dfreading 
# readingavg = dfreading.mean()[0]
# print('The average reading score is:',readingavg)

math_score       25528
reading_score    25528
dtype: int64

In [142]:
math_and_reading = school_data_complete[{"math_score", "reading_score"}]

In [155]:
bothover70 = pd.DataFrame (math_and_reading[(math_and_reading["math_score"] > 70)])
#                               & (math_and_reading["math_score"] != 70)]
bothover70.count()

math_score       28356
reading_score    28356
dtype: int64

In [119]:
math_and_reading_conditional = school_data_complete.loc[[0,6]]
math_and_reading_conditional

# pd.DataFrame(combined[mathscore > 70 and readingscore > 70])
# # pass_both = math_and_reading_conditional.count()
# # print(pass_both)
# # math_and_reading_conditional.query('"reading_score" != 70 and "math_score" != 70')
# math_and_reading_conditional.describe(include='all')              
# & readingscore[school_data_complete["reading_score"] > 70])  6 & 7

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [136]:
pass_both_percent = (bothover70count / count_student_rows)
print(pass_both_percent)

math_score       0.608016
reading_score    0.608016
dtype: float64

In [22]:
# Creating the dataframe  
df = pd.DataFrame({"Schools":[count_school_rows], 
                   "Students":[count_student_rows],  
                   "Total Budget":[sumbudget], 
                   "Avg Reading Score": [readingavg],
                   "Avg Math Score":[mathavg],
                   "% Passing Math":[percent_of_math_pass],
                   "% Passing Reading":[percent_of_reading_pass]})
print(df)

   Schools  Students  Total Budget  Avg Reading Score  Avg Math Score  \
0       15     39170      24649428           81.87784       78.985371

   % Passing Math  % Passing Reading
0       72.392137          82.971662

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

NameError: name 'school_data_complete' is not defined

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type