### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [258]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [259]:
schoolcount = school_data_complete["school_name"].unique()
schoolcount
dfschools = pd.DataFrame(schoolcount) 
dfschools
count_school_rows = dfschools.count()[0]
print('Total number of schools:',count_school_rows)

Total number of schools: 15

In [260]:
studentcount = school_data_complete["student_name"]
studentcount
dfstudents = pd.DataFrame(studentcount) 
dfstudents
count_student_rows = dfstudents.count()[0]
print(count_student_rows)
print('Total number of students:',count_student_rows)

39170
Total number of students: 39170

In [261]:
budgetsum = school_data["budget"]
budgetsum
dfbudget = pd.DataFrame(budgetsum) 
dfbudget
sumbudget = dfbudget.sum()[0]
print('Total budget:',sumbudget)
# total = df.loc[:, '11'].sum()
# # column_number = 3
# total = df.iloc[:, column_number-1:column_number].sum()
# print(total)
# total = df.school_data_complete['Budget'].sum()

Total budget: 24649428

In [262]:
math = school_data_complete["math_score"]
math
dfmath = pd.DataFrame(math)
dfmath
mathavg = dfmath.mean()[0]
print('The average math score is:',mathavg)

The average math score is: 78.98537145774827

In [263]:
reading = school_data_complete["reading_score"]
reading
dfreading = pd.DataFrame(reading)
dfreading 
readingavg = dfreading.mean()[0]
print('The average reading score is:',readingavg)

The average reading score is: 81.87784018381414

In [264]:
#Add index to school name
dfschool = school_data_complete.set_index("school_name")
dfschool.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [265]:
schoolcount = school_data_complete["school_name"].unique()
schoolcount
dfschools = pd.DataFrame(schoolcount) 
dfschools
count_school_rows = dfschools.count()[0]
print('Total number of schools:',count_school_rows)

Total number of schools: 15

In [266]:
mathcount = school_data_complete["math_score"]
mathcount
dfmath = pd.DataFrame(mathcount) 
dfmath
math_scores_count = dfmath.count()[0]
print('Total number of math scores is:',math_scores_count)

Total number of math scores is: 39170

In [267]:
mathscore = school_data_complete["math_score"]
# print(dfmath)

In [268]:
# Count of math scores over 70
dfmath_above_70 = pd.DataFrame (mathscore[school_data_complete["math_score"] >= 70])
math_above_70 = dfmath_above_70.count()[0]

In [269]:
# % Passing Math (The percentage of students that passed math.)
percent_of_math_pass = float((math_above_70 / math_scores_count)*100)
# print(percent_of_math_pass)
percent_of_math_pass

74.9808526933878

In [270]:
readingcount = school_data_complete["reading_score"]
readingcount
dfreading = pd.DataFrame(readingcount) 
dfreading
reading_scores_count = dfreading.count()[0]
print('Total number of reading scores is:',reading_scores_count)

Total number of reading scores is: 39170

In [271]:
dfreading_above_70 = pd.DataFrame (readingscore[school_data_complete["reading_score"] >= 70])
reading_above_70 = dfreading_above_70.count()[0]

In [272]:
# % Passing Reading (The percentage of students that passed reading.)
percent_of_reading_pass = float((reading_above_70 / reading_scores_count)*100)

In [273]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
math_and_reading = school_data_complete[{"math_score", "reading_score"}]
bothover70 = math_and_reading[(math_and_reading["reading_score"] >= 70) & (math_and_reading["math_score"] >= 70)]
bothover70count = bothover70.count()

In [274]:
totalindex = bothover70.index

In [275]:
count_of_grades = len(totalindex)
print(count_of_grades)

25528

In [276]:
overall_passing = ((count_of_grades/ count_student_rows)*100)
print(overall_passing)

65.17232575950983

In [277]:
# Creating the dataframe  
df = pd.DataFrame({"Schools":[count_school_rows], 
                   "Students":[count_student_rows],  
                   "Total Budget":[sumbudget], 
                   "Avg Reading Score": [readingavg],
                   "Avg Math Score":[mathavg],
                   "% Passing Math":[percent_of_math_pass],
                   "% Passing Reading":[percent_of_reading_pass],
                   "% Overall Passing":[overall_passing]})
print(df)

   Schools  Students  Total Budget  Avg Reading Score  Avg Math Score  \
0       15     39170      24649428           81.87784       78.985371

   % Passing Math  % Passing Reading  % Overall Passing
0       74.980853          85.805463          65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [278]:
school_data_complete_index = school_data_complete.set_index("school_name")
school_data_complete_index

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [304]:
group_math_and_reading = school_data_complete_index[{"math_score", "reading_score"}]
group_bothover70 = math_and_reading[(math_and_reading["reading_score"] >= 70) & (math_and_reading["math_score"] >= 70)]

math_score       25528
reading_score    25528
dtype: int64

In [308]:
group_math_and_reading_total_index = group_bothover70.index
group_count_of_grades = len(group_math_and_reading_total_index)
print(group_count_of_grades)

25528

In [297]:
count_schools_grouped_index = school_data_complete_index.groupby(level=school_data_complete_index.index.names.difference("Student_ID")).size()
count_schools_grouped_index

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [298]:
average_reading_score_by_school = school_data_complete.groupby(["school_name"]).agg({"reading_score": np.mean})
print(average_reading_score_by_school)

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [292]:
average_math_score_by_school = school_data_complete.groupby(["school_name"]).agg({"math_score": np.mean})
print(average_math_score_by_school)

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [310]:
group_overall_passing = ((group_count_of_grades / count_schools_grouped_index)*100)
print(group_overall_passing)

school_name
Bailey High School        513.022508
Cabrera High School      1373.950484
Figueroa High School      865.649373
Ford High School          932.018985
Griffin High School      1738.964578
Hernandez High School     550.765912
Holden High School       5978.454333
Huang High School         875.145698
Johnson High School       536.189876
Pena High School         2653.638254
Rodriguez High School     638.359590
Shelton High School      1449.630892
Thomas High School       1561.345566
Wilson High School       1118.177836
Wright High School       1418.222222
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type